# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Flutter / Dart
customer_app/.dart_tool/
customer_app/.flutter-plugins
customer_app/.flutter-plugins-dependencies
customer_app/.pub-cache/
customer_app/.pub/
customer_app/build/
customer_app/ephemeral/
customer_app/node_modules/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
